.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: myClamp(2);
}

.menu-item {
  display: flex;
  position: relative;
  align-items: center;
  gap: myClamp(8);
  width: 100%;
  padding: myClamp(8) 0;
  border-radius: myClamp(100);
  cursor: pointer;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: calc(100% + myClamp(10));
    height: 100%;
    border-radius: myClamp(100);
    background-color: transparent;
    z-index: -1;
  }
  &:hover::before {
    background-color: var(--color-blue-200);
  }

  &__label {
    font-size: myClamp(14);
    line-height: 0.9;
    font-weight: 500;
    color: var(--color-primary-dark);
  }
  &__icon {
    width: myClamp(22);
    height: myClamp(22);
  }

  @media (max-width: $tablet-media) {
    justify-content: center;

    .menu-item__label {
      display: none;
    }
  }
}
