@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/src/shared/fonts/ItalianPlateNo2ExpandedExtrabold.ttf')
    format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/src/shared/fonts/ItalianPlateNo2ExpandedExtraboldItalic.ttf')
    format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/src/shared/fonts/ItalianPlateNo2ExpandedBold.ttf')
    format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/src/shared/fonts/ItalianPlateNo2ExpandedBoldItalic.ttf')
    format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/src/shared/fonts/ItalianPlateNo2ExpandedBoldItalic.ttf')
    format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/src/shared/fonts/ItalianPlateNo2ExpandedSemibold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/src/shared/fonts/ItalianPlateNo2ExpandedSemiboldItalic.ttf')
    format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/src/shared/fonts/ItalianPlateNo2ExpandedMedium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/src/shared/fonts/ItalianPlateNo2ExpandedMediumItalic.ttf')
    format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/src/shared/fonts/ItalianPlateNo2ExpandedRegular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/src/shared/fonts/ItalianPlateNo2ExpandedItalic.ttf')
    format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/src/shared/fonts/ItalianPlateNo2ExpandedLight.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Italian Plate No2 Expanded';
  src: url('/src/shared/fonts/ItalianPlateNo2ExpandedLightItalic.ttf')
    format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
